
/* html and body stuff makes it takes up 100% height*/

html, body {
	height: 100%;
}

#textdiv {
	width: 95%;
	margin: 0 auto;
	background: white;
}

body {
	margin: 0px;
	background: lightgray;
}

.page-wrap {
	height: 100%;
}

.main-content {
	position: absolute;
	width: 100%;
	height: 93vh;
}

.main-nav {
	position: absolute;
	width: 100%;
	height: 7vh;
}

.main-content {
	top: 7vh;
}

.main-nav {
	background: white;
}

#OldWellPic {
	height: 100%;
}

button {
	height: 100%;
	width: 100px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	height: 100%;
    position: relative;
    display: inline-block;
    max-width: 30%;
}

.link {
	position: absolute;
	bottom: 0;
	right: 0;
	max-width: 80%;
	padding-right: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover 
.dropdown:hover .dropdown-content {
    display: block;
}
*/

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#setup, #mkshortcut {
	font-family: 'Lucida Console';
	color: white;
	background-color: #363636;
	margin-top: 2px;
	margin-bottom: 4px;
	margin-left: 4px;
}

.CAimg {
	max-width: 98%;
	margin: 0 auto;
}

#pgc, #lgc {
	float: left;
	width: 50%;
	display: inline-block;
}

#pga, #lga {
	width: 50%;
	display: inline-block;
}

@media screen and (max-width: 600px) {
  #pgc, #lgc, #pga, #lga {width: 100%;}
}

/*
.main-sidebar {
	background: purple;
	-webkit-box-ordinal-group: 3;
	-moz-box-ordinal-group: 3;
	-ms-flex-order: 3;
	-webkit-order: 3;
	order: 3;
}*/
/*
body {
	background: #363636; 
	font-family: "Comic Sans MS";
}

#OldWellPic {
	border-style: solid;
	border-color: #363636; 
}

#Menu {
	border-style: solid;
	border-color: #bd86e7;
	border-width: 5px;
	height: 115px;
}
#MPlink {
	float: left;
}
#OtherLinks {
	border-style: solid;
	border-color: #363636;
	margin-left: 110px;
	height: 100px;

}
#inner {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

a {
	color: black;
}

td > a {
	text-decoration: none;
	font-size: 130%;
}

a:hover {
	color: #bd86e7;
}

td {
	border-style: solid;
	border-color: #363636 white #363636 white; 
	border-width: 5px;
	height: 100%;
	background-color: white;
}
table {
	height: 100%;
}

#bodydiv {
	margin-top: 15px;
	background-color: white;
	border-style: solid;
	border-color: #bd86e7;
	border-width: 5px;

}

#textdiv {
	background-color:white;
	border-style: solid;
	border-color: #363636;
	border-width: 7px;
}

#textdiv {
	padding-left: 10px;
	font-size: 130%;
}

#GHOuter {
	margin-top: 15px;
	border-style: solid;
	border-width: 5px;
	border-color: #bd86e7;;
}

#Github {
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color:white;
	font-size: 150%;
	border-style: solid;
	border-color: #363636; 
	border-width: 7px;
}

#Github > a {
	font-size: 100%;
	color: #bd86e7;
}

#Fig1 {
	width: 800px;
	float: right;
	margin-right: 10px;
	margin-left: 10px;
}
#Fig2 {
	width: 600px;
	float: left;
}

#Fig3 {
	width: 600px;
	margin-left: 650px;
}

#Fig1, #Fig2, #Fig3 {
	border-style: solid;
	padding-left: 5px;
	padding-right: 5px;
}

li {
	margin: 10px;
}

#ThreeThreads {
	overflow: auto;
}

#pGraphs {
	overflow: auto;
}

#pgc, #lgc {
	float: left;
	width: 600px;
}

#pga, #lga {
	margin-left: 700px;
	width: 600px;
}

#setup, #mkshortcut {
	font-family: 'Lucida Console';
	color: white;
	background-color: #363636;
	margin-top: 2px;
	margin-bottom: 4px;
	margin-left: 4px;
}
*/
